<h1>Student: <%= @student.name %></h1>
<h2>Instructor: <%= @student.instructor.name %></h2>
<h2>Age: <%= @student.age %></h2>
<h2>Major: <%= @student.major %></h2>

<br>
<%= form_for @student, method: :delete do |f| %>
<%= f.submit "Delete" %>
<% end %>